#root > section.five {
  grid-column: 2;
  grid-row: 6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (max-width: 768px) {
    margin-top: 0;
    grid-column: 1 / 4;
  }

  & > .title {
    margin-top: 132px;
    line-height: 53px;
    font-weight: 500;
    font-size: 48px;
    color: #1D1D1E;
    align-self: center;
    text-align: center;

    @media (max-width: 768px) {
      margin-top: 86px;
      line-height: 37px;
      font-size: 34px;
      margin-inline-start: 16px;
      margin-inline-end: 16px;
    }
  }

  & > .clients {
    margin-top: 51px;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      margin-top: 34px;
      margin-bottom: 40px;
      margin-inline-start: 0;
      margin-inline-end: 0;
      flex-direction: row;
      gap: 28px;
      justify-content: stretch;
      align-items: start;
      flex-wrap: nowrap;
      width: 100%;
      overflow: auto;
    }

    & > img {
      height: 80px;
      object-fit: contain;

      @media (max-width: 768px) {
        height: 70px;
        flex: 1 0;

        &:first-child {
          margin-inline-start: 16px;
        }

        &:last-child {
          margin-inline-end: 16px;
        }
      }
    }
  }
}
